{include file='admin/header' Title ='后台中心'/}
<body>
{include file='admin/nav' /}
{include file='admin/left-nav' /}
<div>
    你好{$username}
</div>
{include file='admin/footer' /}
</body>
<script>
    layui.use('element', function(){
        var element = layui.element;

        //一些事件监听
        element.on('tab(demo)', function(data){
            console.log(data);
        });
    });
</script>
</html>