<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="">控制台<span class="layui-badge">9</span></a>
    </li>
    <li class="layui-nav-item">
        <a href="">个人中心<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
        <a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('index/view/chengepwd')}">修改密码</a></dd>
            <dd><a href="{:url('index/index/login_out')}">手机绑定</a></dd>
            <dd><a href="{:url('index/index/login_out')}">退了</a></dd>
        </dl>
    </li>
</ul>